body {background-color: gainsboro;}

h1 {
  font-family: serif;
}

p {
  font-style: italic;
}

.container 
	{
	width: 90%; 
	margin-left: auto;
	margin-right: auto;
  padding: 15px;
  border: 1px solid black;
	}

.section1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

figure .firstimage
	{
  height: auto;
	width: 45%;
	min-width: 200px;
}

figure .secondimage
	{
  height: auto;
	width: 45%;
	min-width: 200px;
  margin-left: 20px;
}

figure .thirdimage
	{
  height: auto;
	width: 45%;
	min-width: 200px;
  margin-left: 20px;
}


.cat-text1 {
  flex: 1;
  text-align: left;
}


.channels-box {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  display: flex;
  flex-wrap: nowrap;
  place-items: center;
  gap: 20px;
  row-gap: 5px;
  max-width: 1200px;
  margin: 0 auto;
}

.channels-cards {
  height: auto;
  width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:#333;
    border: 1px solid rgb(59, 59, 59);
    border-radius: 3px;
    gap: 2px;
    padding: 20px;
}

.channels-headings {
  font-family: Georgia, serif;
  font-size: 28px;
  color: #DCDCDC;
}
 
div .channels-box > .channels-cards > p {
  color: #DCDCDC;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: cursive;
  cursor: pointer;
}

.button:hover {
  font-family: cursive;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}



header nav li {
  grid-area: header;
  margin-right: 15px;
  display: inline-block;
  grid-template-columns: 1fr 1fr;
}


img	
	{
	max-width: 100%;
}


figure figcaption { /* Figures' captions */
  font-size: 10px;
  font-family: monospace;
  font-style: italic;
}

section ul {
  margin-left: 50px; /* Adds space to push bullet points away from the floated image */
}

section ul li {
  font-size: 17px /* Default size */
}

@media screen and (max-width: 800px)
 {
  body {background-color: ghostwhite}
  section ul li {
    font-size: 15px; /* Decrease font size */
  }
 }

 @media only screen and (max-width : 480px)
 {
  body {background-color: grey;}
  section ul li {
    font-size: 13px; /* Decrease font size */
  }
 }
 

header > nav > ul > li > a:link {
  font-style: inherit;
  color: #007BFF;
  font-family: sans-serif;
  font-size: 20px;
  padding: 2px;
  border-color: white;
}

header > nav > ul > li > a:visited  {
  font-size: 20px;
  color: #6F42C1;
  border: solid 2px;
  padding: 2px;
}

header >nav > ul > li > a:hover {
  font-size: 20px;
  font-weight: bold;
  font-style: inherit;
  font-family: sans-serif;
  color: #3344ff;
  padding: 2px;
}
header > ul > li > a:active {
  font-size: 14px;
  color: orange;
}

img:hover {
  border: solid 2px;
}

footer {
  background-color: gainsboro;
  text-align: center;
  padding: 15px;
  width: 100%;
  bottom: 0;
}

footer p {
  color: black;
  margin: 0;
}
