body {background-color: gainsboro;}
h1 {
  font-family: serif;
}
p {
  font-style: italic;
}
.container 
	{
	width: 90%; 
	margin-left: auto;
	margin-right: auto;
  padding: 15px;
  border: 1px solid black;
	}


img	
	{
	max-width: 100%;
	}

figure
	{
	width: 45%;
	min-width: 200px;
	float: left;
	}

@media screen and (max-width: 1000px)
 {
  body {background-color: ghostwhite}
 }

 @media only screen and (max-width : 480px)
 {
  body {background-color: brown;}
 }

a:link {
  font-family: inherit;
  
}

a:visited  {
  font-size: 15px;
  color: red;
  border: solid
  border-radius: 5px;
  border-style: double;
  
}
a:hover {
  font-size: 25px;
  font-style: oblique;
  font-family: monospace;
  color: firebrick;
  border: solid 5px;
  border-color: aqua;
  border-style: ridge;
  border-radius: 10px;
}
a:active {
  font-size: 20px;
  color: aquamarine;
}

img:hover {
  border: solid 2px;
  transform: translateY(-15px);
}
